/* TaskComplete Component CSS */
.taskCompletedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin: 20px 0px;
}

.hidden {
  display: none;
}

.buttonCompleted {
  min-width: 200px;
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  outline: none;
}

.arrow {
  font-size: 0.7em;
}

.taskCompletedWrapper {
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.050);
  margin-top: 20px;
  border-radius: 8px;
  font-size: 0.8em;
  font-family: 'Inter', sans-serif;
  animation: showUp 0.2s ease-in-out;
}

.taskCompletedWrapper>ul {
  padding: 0;
}

@keyframes showUp {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.taskTittleComplete {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.041);
  padding-left: 10px;
  width: 600px;
  display: flex;
  align-items: center;
  color: rgb(49, 49, 49);
  text-decoration: line-through;
}

.taskTittle:focus {
  border: 1px solid #5CD68D;
}

.listItem {
  display: flex;
  flex-direction: row;
  height: 40px;
  font-size: 1.2em;
  border: transparent;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.041);
}

.listItem>input {
  display: flex;
  align-items: center;
  border: transparent;
}


.taskSec {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.taskSec * {
  color: #5CD68D;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.taskBt {
  width: 30px;
  height: 30px;
}

.taskBt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  border: none;
  background-color: white;
}

.taskBt * {
  cursor: pointer;
}

.btTrash {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .buttonCompleted {
    font-size: 1em;
    width: 100%;
  }

  .taskCompletedWrapper {
    padding: 10px;
  }

  .listItem {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .taskTittle {
    width: 100%;
    padding-left: 0;
  }

  .taskSec {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
}
