:root{
  --save: #3498db;
  --save-hover:  #2980b9;
  --trash: #e74c3c;
  --trash-hover: #c0392b;
  --edit: #2ecc71;
  --edit-hover: #27ae60;
}
.tarefasContainer{
  width: 100%;
  display: flex;
  align-items: left;
}
.listaTarefas{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 20px;
  flex-direction: column;

}
.itemTarefa{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.191);
}
.itenButtons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.itenButtons > button{
width: 55px;
height: 38px;
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 12px;
font-size: 1.1em;
}
.editButton{
  background-color: var(--edit);
  transition: all ease-in-out 0.3s;
}
.editButton:hover{
  background-color: var(--edit-hover);
}
.trashButton{
  background-color: var(--trash);
  transition: all ease-in-out 0.3s;
}
.trashButton:hover{
  background-color: var(--trash-hover);
}
.saveButton{
  background-color: var(--save);
  transition: all ease-in-out 0.3s;
}
.saveButton:hover{
  background-color: var(--save-hover);
}
.editIcon{
  color: white;
}
.trashIcon{
  color: white;
}
.saveIcon{
  color: white;
}
.itemText{
  font-size: 1.1em;
  padding: 5px;
}
.erro{
  background-color: var(--trash);
}

