:root{
  --save: #3498db;
  --save-hover:  #2980b9;
  --trash: #e74c3c;
  --trash-hover: #c0392b;
  --edit: #2ecc71;
  --edit-hover: #27ae60;
}
.tarefasContainer{
  width: 100%;
  display: flex;
  align-items: left;
}
.listaTarefas {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #3498db #f0f0f0;
}


.listaTarefas::-webkit-scrollbar {
  width: 8px;
}

.listaTarefas::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 4px;
}

.listaTarefas::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
.itemTarefa{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.191);
}
.itenButtons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.itenButtons > button{
width: 55px;
height: 38px;
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 12px;
font-size: 1.1em;
}
.editButton{
  background-color: var(--edit);
  transition: all ease-in-out 0.3s;
}
.editButton:hover{
  background-color: var(--edit-hover);
}
.trashButton{
  background-color: var(--trash);
  transition: all ease-in-out 0.3s;
}
.trashButton:hover{
  background-color: var(--trash-hover);
}
.saveButton{
  background-color: var(--save);
  transition: all ease-in-out 0.3s;
}
.saveButton:hover{
  background-color: var(--save-hover);
}
.editIcon{
  color: white;
}
.trashIcon{
  color: white;
}
.saveIcon{
  color: white;
}
.checkIcon{
  color: white;
}
.itemText{
  font-size: 1.1em;
  padding: 5px;
  min-width: 420px;
  background-color: #2382ed;
  border-radius: 15px;
  padding-left: 60px;
  color: white;

}
.erro{
  background-color: var(--trash);
}
.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.select {
  position: absolute;
  left: 15px; /* Alinhamento horizontal */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #363c44fa;
  border: none;
  cursor: pointer;

}
.resolved{
  background-color: #5f7d8b;
  color: rgba(255, 255, 255, 0.523);
  text-decoration: line-through;
}
.taskCheck{
  background-color: #27ae60;
}
.hiden{

  color: transparent;
}
