.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Garante que o modal apareça acima de outros elementos */
  font-family: 'Inter', sans-serif;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-width: 320px;
  height: 200px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 1px 1px 20px 3px #0000004d;
}

.modalText {
  text-align: start;
  width: 100%;
  margin-top: 10px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.541);
}

#text1 {
  font-size: 1.1em;
  color: black;
}

.ModalWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  width: 100%;
  gap: 1.5em;
}

.ModalWrapper>button {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#btExcluir {
  background-color: rgb(170, 0, 0);
  color: white;

}
