.header {
  background: #004D40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 1024px) {
  .header {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 5px 10px;
  }

  h1 {
    font-size: 1.2rem;
  }
}
