/* Cor de fundo geral */
:root{
  --background: #faf9f8;
  --edit:  #23ed6a;
  --remove:  #e74c3c;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: #343a40;
}

html, body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #363c44fa;
}
.appContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
