.taskListContainer {
  border-radius: 8px;
  width: 100%;
  font-size: 0.8em;
  font-family: 'Inter', sans-serif;
  overflow-y: hidden; /* Remove a rolagem no container externo */
  max-height: 400px;
  position: relative; /* Necessário para o sticky funcionar corretamente dentro do contêiner */
}

.taskList {
  max-width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.050);
  overflow-y: auto;
  max-height: 400px;
  position: relative;

}

.taskList > ul {
  padding: 0;
  margin: 0;
}

.taskListDescription {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.041);
  position: sticky; /* Fixa no topo */
  top: 0; /* Fica no topo do contêiner */
  z-index: 2; /* Garante que fique acima dos outros elementos */
  width: 100%; /* Garante que ocupe toda a largura */
}

.taskListDescription > input {
  cursor: default;
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  background-color: white;
}
.taskBt{
  border: none;
}
input::placeholder {
  color: black;
}

.listItem {
  display: flex;
  flex-direction: row;
  height: 40px;
  font-size: 1.2em;
  border: transparent;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.041);
}

.listItem > input {
  display: flex;
  align-items: center;
  border: transparent;
}

.taskTittle {
  padding-left: 10px;
  width: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}

.taskSec {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.taskSec * {
  color: #5cd68d;
  cursor: pointer;
}

.taskBt {
  width: 30px;
  height: 30px;
}

.taskBt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  border: none;
  background-color: white;
}


.taskBt * {
  cursor: pointer;
}

.btTrash {
  border: none;
  background-color: white;
}
